description/
doc/
games/
installation_manual/
jars/
build/
logs/
out/
env/
src/*_v*/

build.defaults
build.xml
.idea

# Ignore Gradle project-specific cache directory
.gradle

__pycache__/

# Ignore Gradle build output directory
build

*.zip
